<!doctype html>
<html ng-app="myCard">
<head>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script>
var myCard=angular.module("myCard",[]);
	
  myCard.controller('myController',function($scope){
 
	$scope.counter=3;
  $scope.user = {};
   $scope.listOfUsers=[];
  $scope.listOfUsers=[
  {srno:'1',fullName:'Natasha Moon',occupation:'Software Engineer',email:'natashammoon@gmail.com',	contact:'12345553', logo:'http://dailydropcap.com/images/N-10.jpg'},
  {srno:'2',fullName:'Nuts',occupation:'Software Engineer',email:'natashammoon@gmail.com',	contact:'12345553', logo:'http://dailydropcap.com/images/N-10.jpg'}
  ];
  $scope.user=angular.copy($scope.listOfUsers[0]);

  $scope.del=function(srno){
		console.log(srno);
		$scope.listOfUsers.splice(srno-1,1);
  };
  
  $scope.editUser=function(user){
  
		$scope.user=angular.copy(user);
		console.log($scope.user);
  };
  
  $scope.save=function(user){
			$scope.listOfUsers[user.srno-1]=angular.copy(user);
			console.log($scope.listOfUsers[user.srno-1]);
  };
  $scope.add=function(user){
		user.srno=angular.copy($scope.counter);
		$scope.listOfUsers.push(user);
		$scope.counter=$scope.counter+1;
		
  };
  
  });
  
  </script>
<link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body >
	<div class="full" ng-controller="myController">
		<div class="left-section">
		
		<div >
			<label>Full Name</label>
			<input type="text" ng-model="user.fullName">
		</div>
		<div >
			<label>Occupation</label>
			<input type="text" ng-model="user.occupation">
		</div>
		<div >
			<label>Email</label>
			<input type="email" ng-model="user.email">
		</div>
		<div >
			<label>Contact</label>
			<input type="text" ng-model="user.contact">
		</div>
		<div >
			<label>Company logo</label>
			<input type="text" ng-model="user.logo">
		</div>
		
		</div>
		
		
		<div class="right-section">
		  		
			<div class="details-container">				
					<div class="row" id="fullName" ng-bind="user.fullName"></div>
					<div class="row2" id="occupation" ng-bind="user.occupation"></div>					
					<div class="row2" id="email" ng-bind="user.email"></div>	
					<div class="contact" ng-bind="user.contact"></div>		
			</div>
			<div class="logo-container">
				<div class="company-logo">
					<img class="logo" ng-src="{{user.logo}}" />
				</div>
			</div>	
			
		</div>
		<div class="edit-section" >
		<input type="button" value="Save" ng-click="save(user)"/>
		<input type="button" value="Add New" ng-click="add(user)"/>
		</div>
		<div class="down-section">
		<table>
		<tr>
		
		<th> Full Name</th>
		<th> Occupation</th>
		<th> Email </th>
		<th> Contact</th>
		<th> Options</th>
		</tr>
		
		<tr ng-repeat="user in listOfUsers track by $index">
			<td>{{user.srno}}</td>
			<td>{{user.fullName}}</td>
			<td>{{user.occupation}}</td>
			<td>{{user.email}}</td>
			<td>{{user.contact}}</td>
		<td><a href="#" ng-click="del(user.srno)">Delete</a> </td>
		<td><a href="#" ng-click="editUser(user)">edit</a></td>
		</tr>
		
		</table
		
	</div>
	</div>
</body>
</html>
