*{
margin:0;
padding:0;
}
header{
height:100px;
background-color:grey;
}
.widget{
margin-bottom:10px;

}
.company-logo{
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50px;
	text-align:center;
	float:right;
}
.left-section{
float:left;


}
.right-section{
float:right;
background-color:grey;
border:1px solid blue;
box-shadow: 5px 5px 5px #888888;
padding:20px;
}
.article{
padding:10px;
margin:0 auto;
width:900px;
}


.details-container{
float:right;
margin:20px;

}
.logo-container{
float:left;
}

.logo{
width:100px;
height:100px;
}
#fullName{
color:blue;
font-weight:bold;
font-size:20px;
margin-bottom:10px;



}
input{
	
	width:300px;
	padding:8px;
	border-radius:5px;
}
label{
  display: inline-block;
  width: 140px;
  text-align: right;
  font-weight:bold;

}​

