body {
    background-color: beige;
}
.entirePage{
	width:1200px;
	margin:0 auto;
}
.heading
{
	text-align:center;
	font-style:oblique;
}
.details
{
float:left;
}
input[type="text"] {
    width: 200px;
	height:20px;
	padding-left:5px;
	border-radius:1px;
}
label{
display:inline-block;
width:140px;
text-align:right;
font-size:20px;
}
.box{
float:right;
border: 2px;
border-style: solid;
border-color:#e0e0d1;
border-radius: 25px;
box-shadow:3px 3px 2px #888888;	
background-color:darkgrey;
width: 350px;
height: 200px;  
margin-right:50px;  
}
.image{
float:left ;
margin:20px;
}
.save{
clear:both;
float:right;
margin-right:60px;
}
.button{
color:#151313;
padding: 4px 13px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 4px 2px;	
}
.search
{
	clear:both;
	float:left;
	margin-bottom:10px;
}
table, th, td {
    border: 1px solid black;
  
}
th, td {
    padding: 5px;
}

