<!DOCTYPE html>

<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="employee.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body ng-app="myApp" ng-controller="myCntrl">
<div class="entirePage">
<div class="heading">
<h1>Business Card</h1>
</div>
<div class="details" >
<form name="myForm">
<div>
<label>Full Name</label> 
<input type="text" placeholder="Full Name" ng-model="user.name" ng-disabled=value>
</div><br>
<div>
<form name="filterform">
<label>Occupation</label>
 <input type="text" placeholder="Occupation" ng-model="user.occ" ng-disabled=value my-directive>

 <span style="color:red" ng-show="filterform.user.occ.$valid">Occupation mustbe software</span>
</form>
 </div><br>
 <div>
<label>Email </label>
<input type="text" placeholder="Email" ng-model="user.email"ng-disabled=value>
</div><br>
<div>
<label>Personal Link 1 </label>
<input type="text" placeholder="Link1" ng-model="user.pl1"ng-disabled=value>
</div><br>
<div>
<label>Personal Link 2 </label>
<input type="text" placeholder="Link2" ng-model="user.pl2"ng-disabled=value>
</div><br>
<div>
<label>Company Logo</label> 
<input type="text" placeholder="logo" ng-model="user.logo"ng-disabled=value>
</div>
<div>
<input type="hidden" ng-model="user.id" />
</div>
</form>
</div>
<div>
<div class="box">
<div class="image">
<img width="130" height="130" ng-src="{{user.logo}}"</img>
</div>
<div class="opdetails">
<p><font size="5"></font>{{user.name|uppercase}}</p>
<p><font size="4"></font>{{user.occ}}</p>
<p><font size="3"></font>{{user.email}}</p>
<p>{{user.pl1}}</a></p>
<p>{{user.pl2}}</p>
</div>
</div>
<div class="save">
<button class="button" ng-click="addRow()">Save</button>
</div>
</div>
<div class="search">
<label>Search</label>
<input type="text" ng-model="query"/>
</div>
<div>
<table class="table1" width="100%">
<tbody>
  <tr>
	<th><font color="#333300">SlNo</th>
    <th>Fullname<font color="#333300"></th>
    <th>Occupation<font color="#333300"></th>		
    <th>Email<font color="#333300"></th>
	<th>Action<font color="#333300"></th>
  </tr>
  <tr ng-repeat="x in users|filter:query">
  <td>{{x.id |titlecase}}</td>
  <td>{{x.name}}</td>
  <td>{{x.occ}}</td>
  <td>{{x.email}}</td>
  <td><input type="button" class="edit" value="edit" ng-click="editValues(x.id)"></button><input type="button" class="delete" value="delete" ng-click="deleteValues(x.id)" ></button><input type="button" value="load" ng-click="loadValues(x.id)"></button>
</td>

  </tr>
  </tbody>
 </table>
 </div>
</div>
</body>
